<h3>Reset bet counts</h3>

<form action="/admin/resetcounts" method="post">
  <p>
  Set bet counts to:<br />
  <input name="reset_count" size="20" type="text" value="8" />
  </p>

  <input type="submit" value="Reset counts" />&nbsp;
  <input type="button" value="Cancel" onclick="document.location='/admin'" />
</form>