<ul>
  <li><a href="/admin/newissue">Add new issue</a></li>
  <li><a href="/admin/issues">List issues</a></li>
  <li><a href="/admin/newuser">Create a new user</a></li>
  <li><a href="/admin/users">List users</a></li>
  <li><a href="/admin/newwebsite">Add new website</a></li>
  <li><a href="/admin/resetcounts">Reset bet counts for users</a></li>
</ul>
