<h2>Issues</h2>

<table class="box-table-a">
  <tr>
    <th>Priority</th>
    <th>Description</th>
    <th>Started at</th>
    <th>Winner</th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td>P<%=h issue.priority %></td>
    <td><%=h issue.description %></td>
    <td><%=h issue.occured_at %></td>
    <% if issue.user %>
      <td><%=h issue.user.username %></td>
      <% else %>
      <td>-</td>
    <% end %>
  </tr>
<% end %>
</table>

<p>
  <a href="/admin">Back</a>
</p>