<h2>Welcome to ServiceBet</h2>
<p>
If you can visit this site, then you were invited to join ServiceBet. The purpose of this website is NOT to make jokes about the websites we support. We take our support job seriously, and would never wish any issues to the websites we support. 
</p>
<p>
The aim of the ServiceBet site is to make the life in the Service Desk more cheerful, and to have a website that the Service Desk members develop together.  
</p>