<div id="roadmap_nav">
<% if @type.eql? 'servicedesk' %>
  ServiceDesk
<% else %>
  <a href="/roadmap?type=servicedesk">ServiceDesk</a>
<% end %>
<% if @type.eql? 'ourlounge' %>
  Ourlounge
<% else %>
  <a href="/roadmap?type=ourlounge">Ourlounge</a>
<% end %>
<% if @type.eql? 'o2shops' %>
  O2 Shops
<% else %>
  <a href="/roadmap?type=o2shops">O2 Shops</a>
<% end %>
<% if @type.eql? 'howtospendit'%>
  HowToSpendIt
<% else %>
  <a href="/roadmap?type=howtospendit">HowToSpendIt</a>
<% end %>
</div>
