<div id="roadmap_nav">
<% if @type.eql? 'SERVICEDESK' %>
  <b>ServiceDesk</b>
<% else %>
  <a href="/roadmap?type=SERVICEDESK">ServiceDesk</a>
<% end %>&nbsp;
<% if @type.eql? 'OURLOUNGE' %>
  <b>Ourlounge</b>
<% else %>
  <a href="/roadmap?type=OURLOUNGE">Ourlounge</a>
<% end %>
<% if @type.eql? 'O2SHOPS' %>
  <b>O2 Shops</b>
<% else %>
  <a href="/roadmap?type=O2SHOPS">O2 Shops</a>
<% end %>
<% if @type.eql? 'HOWTOSPENDIT'%>
  <b>HowToSpendIt</b>
<% else %>
  <a href="/roadmap?type=HOWTOSPENDIT">HowToSpendIt</a>
<% end %>
<br />
  <a href="#" onclick="$('#ms_div').show('slow');">Add new milestone</a>
</div>

<div id="ms_div">
  <%= partial(:milestone_form) %>
</div>

<script type="text/javascript">
  $('#ms_div').hide();
</script>


