<div id="roadmap_nav">
<% if @type.eql? 'ourlounge' %>
  <b>Ourlounge</b>
<% else %>
  <a href="/roadmap?type=ourlounge">Ourlounge</a>
<% end %>
<% if @type.eql? 'o2shops' %>
  <b>O2 Shops</b>
<% else %>
  <a href="/roadmap?type=o2shops">O2 Shops</a>
<% end %>
<% if @type.eql? 'howtospendit'%>
  <b>HowToSpendIt</b>
<% else %>
  <a href="/roadmap?type=howtospendit">HowToSpendIt</a>
<% end %>
<% if @type.eql? 'servicedesk' %>
  <b>ServiceDesk</b>
<% else %>
  <a href="/roadmap?type=servicedesk">ServiceDesk</a>
<% end %>
</div>
