<h3>Statistics</h3>
  <canvas id="issue_stats" width="740" height="350"></canvas>
  <br />
  <canvas id="issue_stats2" width="740" height="350"></canvas>
  <script type="text/javascript">
   get_issue_stats();
  </script>
<br />
