<div style="text-align:center;"><h3>P1 and P2 issue statistics since 2011-02-21</h3></div>
<canvas id="issue_stats" width="740" height="350"></canvas>
<br />
<canvas id="issue_stats2" width="740" height="350"></canvas>
<script type="text/javascript">
 get_issue_stats();
</script>
<br />
