var g = new Bluff.Bar('stats', '740x350');
g.hide_title = true
g.tooltips = true;
g.theme_pastel();
g.data('P1 issues', [<%= @names_p1_counts[:counts].join(',') %>]);
g.data('P2 issues', [<%= @names_p2_counts[:counts].join(',') %>]);
g.labels = {
<% for i in 0..@names_p1_counts[:names].size - 1 %>
  <%= "#{i}:'#{@names_p1_counts[:names][i]}'" %>
  <% if i != (@names_p1_counts[:names].size - 1) %>,<% end %>
<% end %>
};
g.draw();

var d = document.getElementById('stats_link');
d.innerHTML = '<a href="#" onclick="get_bet_stats();">Bets statistics</a>'; 

var d = document.getElementById('issue_bet');
d.innerHTML = 'issue';
