#login-form {
    margin: 10em auto;
}

#bet-form {
  background-color: white;
}

#issue-info {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
}

.info-box {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 400px;
    border: 2px solid #E0EEFA;
    margin: 10px;
    line-height: 1;
    background-color: white;
}

.info-box-title {
	background: none repeat scroll 0 0 #E0EEFA;
	color: #165089;
	font-weight: bold;
	padding: 5px 10px; 
}

.info-box-content {
	padding: 5px 10px;
}

.info-box-links {
	padding: 5px 10px;
	text-align: right;
}

.info-box-activities {
	padding: 5px 10px;
}

.info-box-content .form-line label {
	width: 6em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
}

.info-box SELECT, .info-box TEXTAREA, .info-box INPUT
{
	margin-left: 0.5em;
	padding-top: 0.2em;
}
.info-box .submit
{
	margin-left: 4em;
}
.info-box-content DIV.form-line
{
	/*height: 2em;*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.info-box-content .form-line .prop {
    width: 8em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.5em;
    margin-left: 1em;

    font-weight: bold;
}

.info-box-content .form-line .prop-value {
    padding-top: 0.2em;
    margin-left: 10em;
}

.form-btn
{
	padding-top: 0.5em;
	padding-right: 4.5em;
	clear: left;
	float: right;
}
#login-btn
{
	background-color: #2881B9;
	color: #FFFFFF;
	border-style: solid;
	border-color: #47A0D8 #165089 #165089 #47A0D8;
	text-align: center;
	width: 75px;
}
#bet-btn
{
	background-color: #2881B9;
	color: #FFFFFF;
	border-style: solid;
	border-color: #47A0D8 #165089 #165089 #47A0D8;
	text-align: center;
	width: 100px;
}